:root{
    --color-primario: #0A3871;
    --color-secundario: #495057;
    --color-terciario: #FFFFFF;

    --font-primario: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primario);
}

body{
    height: 100%;
    width: 100%;
}

/*Encabezado*/
.encabezado{
    display: flex;
    padding: 2.7% 2%;
    align-items: center;
}

.encabezado_img{
    width: 9%;
}

/*Main*/
.c{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.c_c{
    display: flex;
    width: 100%;
    height: 850px;
}

.c_c_t{
    display: flex;
    gap: 1%;
    flex-direction: column;
    width: 70%;
    align-items: center;
    padding-left: 6%;
    padding-top: 3%;
}

.c_c_t_tex{
    padding: 2%;
    font-size: 32px;
    resize: none;
    color: var(--color-primario);
    width: 78%;
    height: 650px;
    border: none;
}

.c_c_m{
    display: flex;
    gap: 4%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    padding-right: 2%;
}

.c_c_m_img{
    width: 90%;
}

.c_c_m_h2{
    padding: 0% 10%;
    font-size: 24px;
}

.c_c_m_p{
    padding: 0% 10%;
    font-size: 16px;
}

/*Texto oculto*/
.c_c_men{
    display: none;
    gap: 4%;
    flex-direction: column;
    text-align: center;
    width: 30%;
    padding-right: 3%;
}

.c_c_men_text{
    padding: 2%;
    font-size: 24px;
    resize: none;
    color: var(--color-secundario);
    width: 90%;
    height: 690px;
    border: none;
}

/*Advertencia*/
.c_a{
    width: 100%;
    display: flex;
    gap: 1%;
    padding-left: 15%;
}

.c_a_p{
    font-size: 12px;
}

/*Botones*/
.c_b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3%;
    height: 100px;
}

button{
    font-size: 16px;
    width: 35%;
    height: 68%;
    border-radius: 24px;
    cursor: pointer;
}

#c_b_e{
    background-color: var(--color-primario);
    border: 2px, solid, var(--color-terciario);
    color: var(--color-terciario);
}

#c_b_e:active{
    background-color: var(--color-terciario);
    border: 2px, solid, var(--color-primario);
    color: var(--color-secundario);
}

#c_b_d{
    background-color: var(--color-terciario);
    border: 2px, solid, var(--color-primario);
    color: var(--color-primario);
}

#c_b_d:active{
    background-color: var(--color-primario);
    border: 2px, solid, var(--color-terciario);
    color: var(--color-terciario);
}

#c_b_c{
    display: none;
    width: 83%;
    background-color: var(--color-terciario);
    border: 2px, solid, var(--color-primario);
    color: var(--color-primario);
}

#c_b_c:active{
    background-color: var(--color-primario);
    border: 2px, solid, var(--color-terciario);
    color: var(--color-terciario);
}

/*Tablet*/
@media (max-width: 800px){
    /*Encabezado*/
    .encabezado{
        padding: 9% 1%;
    }

    .encabezado_img{
        width: 15%;
    }

    /*Main*/
    .c_c{
        flex-direction: column;
        align-items: center;
        height: 950px;
        padding-top: 5%;
        gap: 10%;
    }

    .c_c_t{
        padding: 0%;
        width: 100%;
    }

    .c_c_t_tex{
        width: 90%;
        min-height: 590px;
        height: auto;
    }

    .c_c_m{
        width: 100%;
        gap: 25px;
    }

    .c_c_m_img{
        display: none;
    }

    /*Texto oculto*/
    .c_c_men{
        width: 100%;
        padding: 0%;
        align-items: center;
    }

    .c_c_men_text{
        min-height: 230px;
        height: auto;
        padding: 2% 4%;
    }

    /*Advertencia*/
    .c_a{
        padding-left: 7%;
    }

    /*Botones*/
    button{
        width: 43.3%;
    }
    
    #c_b_c{
        width: 81%;
    }
}

/*Celular*/
@media (max-width: 480px){
    /*Encabezado*/
    .encabezado{
        padding: 5% 0%;
    }

    .encabezado_img{
        width: 25%;
    }

    /*Main*/
    .c_c{
        height: 840px;
        padding-top: 15%;
        gap: 12%;
    }

    .c_c_t{
        padding: 0%;
        width: 100%;
        gap: 3%;
    }

    .c_c_t_tex{
        width: 90%;
        min-height: 300px;
        height: auto;
    }

    .c_c_m{
        padding: 0% 5%;
        width: 100%;
        gap: 20px;
    }

    .c_c_m_img{
        display: none;
    }

    /*Texto oculto*/
    .c_c_men{
        width: 100%;
        padding: 0%;
        align-items: center;
    }

    .c_c_men_text{
        min-height: 100px;
        height: auto;
        padding: 2% 4%;
    }

    /*Advertencia*/
    .c_a{
        padding-left: 7%;
    }

    /*Botones*/
    .c_b{
        flex-direction: column;
        gap: 15%;
        height: 170px;
    }

    button{
        width: 91.5%;
    }
    
    #c_b_c{
        width: 91.5%;
        height: 60px;
    }
}